.products-list-add-btn,
.removAllBtn {
    /* background-color: rgb(245, 176, 197); */
    border: solid 2px var(--bgPink);
    color: var(--bgPink);
    padding: 10px;
    border-radius: 50px;
    min-width: 95px;
    font-size: small;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.productsF {
    display: flex;
    flex-direction: column;
    /* max-width: 90vw; */
    min-width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.singleF {
    min-width: 15vw;
    max-width: 15vw;
    min-height: 60vh;
    max-height: 60.5vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-style: solid;
    border: 1.5px solid transparent;
    border-color:none;
    cursor: pointer;
    color: rgb(28, 28, 27);
    position: relative;
    
}
.singleF:hover{
    border: 1.5px solid transparent;
    border-color:rgb(255, 130, 130);
}

.singleF img {
    /* border-radius: 50%;
    object-fit: cover;
    min-height: 25vh;
    max-height: 25vh;
    min-width: 25vh;
    max-width: 25vh;
    cursor: pointer; */
    object-fit: cover;
    min-height: 40vh;
    max-height: 40vh;
    /* max-height: 25vh; */
    min-width: 13vw;
    max-width: 13vw;
    border-radius: 0px;
    padding-top: 0px;

    /* max-width: 25vh; */
    cursor: pointer;
}


.products-list-product-image {
    /* border-radius: 50%; */
    /* gap: 10px; */
    object-fit: cover;
    min-height: 25vh;
    max-height: 25vh;
    min-width: 25vh;
    /* max-width: 25vh; */
    cursor: pointer;
    border-radius: 0px;
}

.detailsF {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 15vw;
    max-width: 15vw !important;
    min-height: 10vh;
    font-size: 1.5rem;
    position: absolute;
    /* background-color: rgb(255, 216, 235); */
    border-radius: 0;
}

/* .details-wr{
    display: flex;
    flex-direction: row;
} */
.trash {
    background-color: white;
    border: none;
    color: rgb(255, 104, 174);
    cursor: pointer;
    width: 30px;
    align-self: flex-end;
    margin-bottom: 10px;
    position: absolute;
    bottom:20px;
    left: 20px;
}

.favoritesProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.removAllBtn {
    max-width: 20vw;
    align-self: self-end;
    margin-left: 20px;
    position: absolute;
    /* min-height: 5vh;
    justify-content: center;
    align-items: center;
   margin-right: 40%;
   background-color: rgb(255, 196, 223); */
    /* border: none; */
    /* color: red; */
    cursor: pointer;
    border-radius: 30vw;
}