
.products-list-add-btn{
    background-color: rgb(245, 176, 197);
    border-radius: 50px;
    min-width: 95px;
    font-size: small;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.productsF{
    display: flex;
    flex-direction: column;
    /* max-width: 90vw; */
    min-width: 100%;
    flex-wrap: wrap;
    gap:4vw;
}
.singleF{
    min-width: 15vw;
    max-width: 15vw;
    min-height: 44vh;
    max-height: 44.5vh;
    background-color: rgb(252, 250, 251);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-style: double;
    border-color: rgb(255, 104, 174);
    cursor: pointer;
    color:rgb(28, 28, 27)
    
}
.singleF img{
    /* border-radius: 50%;
    object-fit: cover;
    min-height: 25vh;
    max-height: 25vh;
    min-width: 25vh;
    max-width: 25vh;
    cursor: pointer; */
    object-fit: cover;
    min-height: 44vh;
    max-height: 44vh;
    /* max-height: 25vh; */
    min-width: 15vw;
    max-width: 15vw;
    border-radius: 10px;

    /* max-width: 25vh; */
    cursor: pointer;
}


.products-list-product-image{
    /* border-radius: 50%; */
    /* gap: 10px; */
    object-fit: cover;
    min-height: 25vh;
    /* max-height: 25vh; */
    min-width: 25vh;
    /* max-width: 25vh; */
    cursor: pointer;
    border-radius: 10px;
}
.detailsF{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 15vw;
    max-width: 15vw !important;
    min-height: 10vh;
    font-size: 1.5rem;
    position: absolute;
    background-color: rgb(255, 216, 235);
    border-radius: 10px 10px 0 0;
}
/* .details-wr{
    display: flex;
    flex-direction: row;
} */
.products-list-delete{
    background-color: rgb(255, 196, 223);
    border: none;
    color: red;
    cursor: pointer;
}
.favoritesProducts{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}
.removAllBtn{
    max-width: 20vw;
    min-height: 5vh;
    justify-content: center;
    align-items: center;
   margin-right: 40%;
   background-color: rgb(255, 196, 223);
   /* border: none; */
   /* color: red; */
   cursor: pointer;
   border-radius: 30vw;
}

