.products-list {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    margin: 2px;
    gap: 10px;
    min-width: 100%;
}

.products-list-top {
    display: flex;
    gap: 10px;
}

.products-list-add-btn {
    /* background-color: rgb(245, 176, 197); */
    border-radius: 50px;
    min-width: 95px;
    font-size: small;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    min-width: 100%;
    max-width: 100%;
    gap: 4vw;
}

/* .products div:hover{
    border-style: dashed;
    border-color: rgb(250, 139, 139);
} */

.single {
    min-width: 15vw;
    max-width: 15vw;
    min-height: 44vh;
    max-height: 60.5vh;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    border: 1.5px solid transparent;
    border-color:var(--bg);
    cursor: pointer;
    color: var(--text);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(79, 78, 78, 0.5); /* הוספת צל עם צבע שחור ועוצמת 0.5 */
}
.price{
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

}


.single:hover {
    border-color: rgb(255, 104, 174);
}

.single img {
    min-width: 13vw;
    max-width: 13vw;
    min-height: 30vh;
    max-height: 30vh;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 0;
    padding-left: 5px;
   
   
}

.single:hover img {
    border: none;
    background-size: 200%; /* הגדלת התמונה ב-200% */
    background-position: 50% 50%; 
}


.products-list-product-image {
    object-fit: cover;
    min-height: 25vh;
    /* max-height: 25vh; */
    min-width: 25vh;
    /* max-width: 25vh; */
    cursor: pointer;
    /* border-radius: 0px; */
}


.details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 15vw;
    max-width: 15vw !important;
    min-height: 30vh;
    /* width: 180px;
    height: 60px; */
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position: sticky;
    top: 180px; */
    /* background-color: rgb(255, 216, 235); */
    /* border-radius: 10px 10px 0 0; */
}
.details div{
    min-width: 15vw;
    max-width: 15vw !important;

}

.details:hover {
    border: none;
}


.products-list-delete {
    background-color: rgb(255, 196, 223);
    border: none;
    color: red;
    cursor: pointer;
}


.carouselDiv {
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
    padding: 20px;
    margin: 0 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* שנה כיוון התצוגה לרוחב */
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}



h3 {
    margin-top: 5vh;
}


.products-list-btn-love {
    position: absolute;
    top: 10px; /* עליון בראש התמונה */
    left: 10px; /* שמאלית */
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 1.5px solid transparent;
    border-color: rgb(255, 58, 150);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.products-list-btn-love:hover {
    background-color: rgba(255, 104, 174, 0.342); /* התכתובת הצבע או הגוון שתרצי */
}

.products-list-btn-love svg {
    color:rgb(255, 58, 150);
    min-width: 27px; 
    min-height: 27px; 
    outline: 2rem;
}




@media screen and (max-width: 908px) {
    .single {
        min-width: 40vw;
    }
    .details div{
        min-width: 35vw;
        max-width: 35vw !important;
        text-align: center;
        margin: 0;
        padding: 0;
    
    }
    .single img {
        min-width: 35vw;
        max-width: 35vw;
        /* min-height: 20vh;
        max-height: 20vh; */
     }
       
      


}