.products-list{
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    margin: 2px;
    gap:10px;
    min-width:200%;
}
.products-list-top{
    display: flex;
    gap: 10px;
}
.products-list-add-btn{
    background-color: rgb(245, 176, 197);
    border-radius: 50px;
    min-width: 95px;
    font-size: small;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.products{
    display: flex;
    max-width: 80vw;
    flex-wrap: wrap;
    gap:5vw;
}
.single{
    min-width: 15vw;
    max-width: 15vw;
    min-height: 20vh;
    max-height: 27vh;
    background-color: rgb(250, 187, 209);
    /* border-radius: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.products-list-product-image{
    border-radius: 50%;
    gap: 10px;
    object-fit: cover;
    min-height: 25vh;
    max-height: 25vh;
    min-width: 25vh;
    max-width: 25vh;
    cursor: pointer;
}
.details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 15vw !important;
    min-height: 10vh;
    font-size: 0.5rem;
}
.details-wr{
    /* display: flex;
    flex-direction: row; */
}
.products-list-delete{
    background-color: rgb(255, 196, 223);
    border: none;
    color: red;
    cursor: pointer;
}

