.container{
    display: flex;
}
.menu{
    flex:1;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    padding: 20px;
    min-height: 100vh;
}
.content{
    flex:4;
    padding: 20px;
}