body{
    max-width: 99vw;
}
.container{
    display: flex;
}
.menu{
    flex:1;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    padding: 20px;
    min-height: 100vh;
    max-width: 20vw;
}
.content{
    flex:4;
    padding: 20px;
    max-width: 60vw;
}
/* .navbar-search{
    max-width: 90vw;
} */