.navbar{
    padding: 2px;
    margin: 4px;
    border-radius:10px ;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap:23px;
    color:white;
    max-width: 99%;
}
.logo,.categoryIcon{
    width: 10%;
}

.navbar-title{
    color:var(--textSoft);
    font-weight: bold;
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: space-between; */
    max-width: 30%;
    padding: 2px;
    margin-left: 8vw;
    /* background-color:var(--bgPink); */
}
.logoP{
    min-width: 80px;
    min-height: 100px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
    padding: 0;
    /* background-color: #7dc7cbbf; */
}
.navbar-search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #7dcbcb;
    padding: 10px;
    border-radius: 10px;
}
.navbar-input{
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor:text;
}
.navbar-icons{
    display: flex;
    gap:10px;
    cursor: pointer;
    color:white;
}

/* .navbar{
    padding: 20px;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo,.categoryIcon{
    width: 10%;
}

.navbar-title{
    color:var(--textSoft);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color:var(--bgPink);
}
.navbar-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #7dc7cbbf;

}
.navbar-search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #7dcbcb;
    padding: 10px;
    border-radius: 10px;
}
.navbar-input{
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor:text;
}
.navbar-icons{
    display: flex;
    gap:10px;
    cursor: pointer;
    color:white;
} */