.navbar{
    padding: 20px;
    border-radius:10px ;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title{
    color:var(--textSoft);
    font-weight: bold;
}
.navbar-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #7dcbcb;
    padding: 10px;
    border-radius: 10px;
}
.navbar-input{
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor:text;
}
.navbar-icons{
    display: flex;
    gap:10px;
    cursor: pointer;
    color:white;
}