.single-product-container-public{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    gap: 0;
    padding: 2vh;
    margin: 2vw;
    position: relative;
    /* border-radius: 100px; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.single-product-img-container-public{
    position: relative;
    border-radius: 100px;
    overflow: hidden;

}
.single-product-img-container-public img{
    /* width: 100% important; */
    /* object-fit: contain; */
    max-width: 75vw;
    max-height:85vh;
    min-width: 74vw;
    min-height:84vh;
    border-radius: 100px;
    padding-top: 20px;
    
    }

.single-product-info div {
    color: rgb(0, 159, 173);
}
.productName{
    font-size: 25px;
    text-align: center center;
}


#productName{
    font-size: 60px;
}
.single-product-img-public{
    max-width: 50vw;
    max-height:85vh;
    min-width: 50vw;
    min-height:70vh;
    padding-top: 20px;
    margin: 5vw;
    position: relative;
    /* border-radius: 100px; */
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.single-product-left-side{

    max-width: 30vw;
    max-height:85vh;
    min-width: 30vw;
    min-height:70vh;
    /* margin: 10vw; */
    /* display: flex;
   flex-direction: column;
   /* justify-content: center;
   align-items: center; */ 
}
.productDetails{
  padding: 15px;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   align-items:center;
   gap: 7px;
   min-height: 40vh;
    border-top: solid 3px var(--bgSoft);
    border-bottom: solid 3px var(--bgSoft);

}
#moreInfo{
    border: none;
    border-bottom: solid 1px var(--text);
    font-family: var(--fontFamily);
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    background-color: none;
    
}
.colorsBox button{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.addButton{
    /* height: 30px;
    width: 30px;
    border-radius: 25px; */
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--text);
    border-bottom: solid 1.5px var(--text);
    border: none;
    background-color: var(--bg);
    

}
.colorsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;    
}
.amountToBuy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}
.productAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 40px;

    color: white;
}
.productAdd button{
    color: var(--text);
    font-family: var(--fontFamily);
    color: white;
    border: none;
    border-radius: 20px;
    height: 35px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.addToCart{
    background-color: var(--bgSoft);
    font-size: 20px;


}
.addToFavourites{
    background-color: var(--bgSoft);
    font-size: 20px;

}
.addToFavourites:active{
    background-color: white;
    color: var(--bgSoft);
    font-size: 35px;
   

}
.addToCart:active{
    background-color: white;
    color: var(--bgSoft);
    font-size: 35px;
   

}
button{
    cursor: pointer;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
