.slick-slide img {
  max-width: 10vw;
  min-height: 8vw;
  max-height: 8vh;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-left: 1.8vw;
  font-size: smaller;
  display: block;
}

.slick-slider {
  margin: 0 auto;
  position: relative;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}



.carouselImgDiv {
  position: relative;
  text-align: center;
  max-width: 7vw;
  min-height: 7vw;
  margin: 0;
}

.carouselWrapper {
  position: relative;
}

.slick-arrow {
  z-index: 1;
}

.carousel {
  max-width: 90vw;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.carouselWrapper {
  position: relative;
}

.slick-prev:hover,
.slick-next:hover {
  color: blue;
}

.CarouselCategoriesItem {
  background-color: white;
  min-height: 60vh;
  min-width: 19.5vw;
  max-width: 19.5vw;


}

.linkCategoryDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linkCategoryDiv img {
  min-width: 18vw;
  max-width: 18vw;
  min-height: 45vh;
  max-height: 45vh;
  margin: 0.7vw;
}

.linkCategoryDeatails {
  text-align: center;
  align-items: center;
  margin-top: 19px;
  font-size: 1.2rem;

}

.carouselWrapperCompanies {
  background-color: white;
  min-width: 93%;
  max-width: 93%;
  margin: 3vw;
  /* padding-right: 3vw;
  padding-left: 3vw; */
  max-height: 30vh;
  border-radius: 10px;
  justify-content: space-around;
}
/* הסתרת הריבוע סביב העיגול */
.slick-arrow:before {
  border: none; /* מסיר את המסגרת של הריבוע */
}

/* שינוי צבע העיגול לורוד */
.slick-arrow:before {
  color: pink;
}


/* שינוי גודל העיגול */
.slick-arrow:before {
  font-size: 56px; 
}
/* שינוי גודל החץ */
.slick-arrow {
  width: 24px; /* רוחב החץ */
  height: 24px; /* גובה החץ */
  font-size: 0.5rem;
}

.slick-prev {
  left: -30px; 
}

.slick-next {
  right: 0px; 
}

.companyImg{
  min-height: 10vh;
  max-height: 10vh;
  margin-top: 0px;
}

@media screen and (max-width: 908px) {

}


