.carouselDiv{
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
    padding: 20px;
    margin: 0 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: row; /* שנה כיוון התצוגה לרוחב */
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

}
.categoriesCarouselTitle{
    text-align: right;
    margin-right: 80px;
    font-style: oblique;
    font-weight: lighter;
    font-size: 30px;
}
.productsTitle{
    text-align: center;
    font-style: oblique;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ff9d9d; /* הוספת קו תחתי בצבע ורוד */
    border-top: 2px solid #ff9d9d;
    display: inline-block; /* כדי להבטיח שהקו יהיה רק לאורך הטקסט */
    max-width: 400px;
    margin-right: 400px;
    min-height: 10vh;
   
}

.welcome-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--bgSoft);
    color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 80vw;
    min-height: 80vh;
    text-align: center;
    font-size: 100px;
    align-items: center;

  }
  

@media screen and (max-width: 908px) {
    .productsTitle{
        margin-right:20px;
        
    }


}