.carouselDiv {
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
    padding: 20px;
    margin: 0 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* שנה כיוון התצוגה לרוחב */
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

}

.categoriesCarouselTitle {
    text-align: right;
    margin-right: 80px;
    font-style: oblique;
    font-weight: lighter;
    font-size: 30px;
}

.productsTitle {
    text-align: center;
    font-style: oblique;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ff9d9d;
    /* הוספת קו תחתי בצבע ורוד */
    border-top: 2px solid #ff9d9d;
    display: inline-block;
    /* כדי להבטיח שהקו יהיה רק לאורך הטקסט */
    max-width: 400px;
    margin-right: 400px;
    min-height: 10vh;

}

.welcome-message {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 3.5px solid transparent;
    border-color: #f6a6c5;
    color: black;
    padding: 20px;
    border-radius: 8px;
    min-width: 50vw;
    min-height: 50vh;
    text-align: center;
    font-size: 50px;
    align-items: center;

}


.bigImage {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vh;
    margin-top: 10vh;
    margin-right: 2%;
    margin-left: 2%;
    object-fit: fill;
    /* object-fit: cover;
    object-position: center; */
    transition: opacity 1000s ease-in-out;
    animation: image-fade 5s ease-in-out forwards;
}


.bigImageNone{
    display: none;
    min-width: 90vw;
    min-height: 90vh;
    border: 3.5px solid transparent;
    border-color: #f6a6c5;
    
}

/* .linkToPromotions{
    font-weight: lighter;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 80vw;
    margin-top: 0;
    position:static;
    top: 0;
} */

.linkToPromotions {
    font-weight: lighter;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 80vw;
    position: static;
    top: 0;
    vertical-align: middle; /* הוסף שורה זו */
    max-width: 150px;
  }

  .linkToPromotions:hover{
    border-bottom: solid 1.5px rgb(255, 112, 136);
    color: rgb(255, 112, 136);
  }
  



@keyframes image-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media screen and (max-width: 908px) {
    .productsTitle {
        margin-right: 20px;

    }


}