.users-list {
    color: var(--text);
    padding: 20px;
    margin-top: 20px;
    max-width: 90vw;
    align-self: center;
    margin-right: 3vw;
}

.users-list-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    padding-top: 0;
}


.users-list-add-btn {
    padding: 10px;
    background-color: white;
    color: var(--bgPink);
    border-radius: 10px;
    border: solid 2px var(--bgPink);
    cursor: pointer;
}

.users-list-table {
    width: 100%;
    background-color: white;
    max-width: 90vw;
    align-self: center;
    /* border-radius: 0 0 20px 20px; */
    margin-top: 10px;
    padding: 20px;
    font-family: var(--fontFamily);
    border-collapse: collapse;
}

.tHeads {
    color: black;
    /* font-size: 30px; */
    font-weight: bolder;
    
}
.tHeads tr{
    /* background-color:pink; */
    border-bottom: solid 1px pink; 
}

.users-list-table td {
    padding: 10px;
    /* border: solid 1px pink; */
    /* border-radius: 3px; */
    border-bottom: 1px solid pink;
    /* border:none; */
}

.users-list-table .td-no-border {
    border: none;
}

.users-list-user {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.users-list-user-image {
    border-radius: 50%;
    gap: 10px;
    object-fit: cover;
}

.users-list-btn {
    padding: 10px;
    border-radius: 5px;
    /* color: var(--text); */
    border: none;
    /* border: 1px solid transparent; */
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    min-height: 60px;
    max-height: 60px;
    min-width: 80px;
}

.users-list-btn:hover {
    background-color: rgba(255, 148, 166, 0.808);
}

.users-list-view {
    background-color:none;
    border-color: var(--bgSoft);
    color: var(--bgSoft);
    min-height: 60px;
    max-height: 60px;
}
.users-list-view:hover{
    background-color: none;
}

.users-list-delete {
    background-color: white;
    border-color: red;
    color: red;
}

.users-list-btns {
    /* display: flex;
    gap: 10px; */
}

.users-title {
    font-size: 2rem;
    font-weight: lighter;
    min-height: 10vh;
    color: var(--bgPink);
    background-color: #fff;
    padding-top: 20px;
    font-family: var(--fontFamily);
    border-radius: 20px 20px 0px 0;
}

.btn-user-list:hover {
    background-color: rgba(255, 148, 166, 0.648);
    cursor: pointer;
}

.delete-btn-list:hover {
    cursor: pointer;
}

.users-list-table tr:hover {
    background-color: #f4f4f4;
    
}
.tHeads tr:hover{
    background-color:white;
    cursor: text;
}


