.users-list {
    color: var(--text);
    padding: 20px;
    margin-top: 20px;
    max-width: 90vw;
    align-self: center;
    margin-right: 3vw;
}
.users-list-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    padding-top: 0;
}


.users-list-add-btn {
    padding: 10px;
    background-color: white;
    color: var(--bgPink);
    border-radius: 10px;
    border: solid 2px var(--bgPink);
    cursor: pointer;
}

.users-list-table {
    width: 100%;
    background-color: white;
    max-width: 90vw;
    align-self: center;
    border-radius: 0 0 20px 20px;
    margin-top: 10px;
    padding: 20px;
    font-family: var(--fontFamily);
}

.tHeads {
    color: var(--bgPink);
    font-size: x-large;
}

.users-list-table td {
    padding: 10px;
    border: solid 1px var(--bgSoft);
    border-radius: 3px;
}
.users-list-table .td-no-border{
    border: none;
}

.users-list-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.users-list-user-image {
    border-radius: 50%;
    gap: 10px;
    object-fit: cover;
}

.users-list-btn {
padding: 5px 10px;
border-radius: 5px;
color: var(--text);
border: none;
cursor: pointer;
font-size: 14px;
}
.users-list-view {
    background-color: var(--bgSoft);
}
.users-list-delete{
    background-color: var(--bgPink);
}
.users-list-btns{
    display: flex;
    gap: 10px;
}

.users-title {
    font-size: 2rem;
    font-weight: lighter;
    min-height: 10vh;
    color: var(--bgPink);
    background-color: #fff;
    padding-top: 20px;
    font-family: var(--fontFamily);
    border-radius: 20px 20px 0px 0;
}