.search-container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color:#7dcbcb;
    border-radius:10px ;
    padding: 10px;
}
.search-input{
  background-color:transparent; 
  border: none; 
  color: var(--text);
}
