.search-container{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text);
    background-color:var(--bg);
    border: solid 2px var(--text);
    border-radius:10px ;
    padding: 10px;
    max-width: 17vw;
    
}

.search-input{
  background-color: transparent; 
  border: none; 
  color: var(--text);
  outline: none; 
  width: 100%; 
}
