.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 90vw;
    /* position:fixed; */
}
/* .fixed-sideBar{
 position: fixed;
    top:130px;
} */

  
.fixed-admin {
  position: fixed;
  top: 90px;
  /* left: 0;
  width: 100%;
  min-height: 100px;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: var(--bgSoft);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  transition: top 1s ease; /* זמן: 1 שנייה, אופן: ease */
}



/* .sidebar-user{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;  
} */
.sidebar-user-image{
  border-radius: 50%; 
  object-fit: cover; 
}
.sidebar-user-datails{
display: flex;
flex-direction: column;
color:var(--text);
}
.sidebar-user-username{
    font-weight: 500;
}
.sidebar-menu-list{
    list-style: none;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap: 5px;
    max-width: 70vw;
    margin-right: 15vw;
    margin-left: 15vw;

}
.sidebar-menu-li{
  display: flex;
    flex-direction: row;
    justify-content:  space-around;
}
.sidebar-menu-cat{
color: rgb(66, 63, 63);
font-weight: bold;
font-size: 13px;
margin: 0px;
}
.sidebar-menu-link, .sidebar-logout {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  color: var(--text);
  width: 18vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid var(--text) 1px;
  border-top: none;
  background-color:var(--bgWhite);
  box-shadow:-2px 4px 5px rgba(79, 78, 78, 0.5);
 

}
.sidebar-menu-link:hover, .sidebar-menu-link.active,.sidebar-logout:hover{
    background-color:  var(--textSoft);
}
.sidebar-logout{
  /* widows: 100%; */
  margin: 0;
 

}
/* .sidebar-logout :hover{
  background-color:  #7dcbcb;
} */




