.single-user-container{
display: flex;
gap: 50pX;
margin-top: 20px;
}
.single-user-info{
border-color: var(--bgSoft);
padding: 20px;
border-radius: 10px;
font-weight: bold;
color: var(--textSoft);
height: max-content;
}
.single-user-img-container{
flex: 1;
width: 100%;
height: 300px;
position: relative; 
 border-radius: 10px; 
overflow: hidden;
margin-bottom: 20px;
max-width: 25vw;
}
.single-user-img-container img{
width: 100% important;
object-fit: contain;
}
.single-user-form-container{
border-color: var(--bgSoft);
padding: 20px;
border-radius: 10px;
}
.single-user-form{
flex: 5;
min-width: 40vw;
display: flex;
flex-direction: column;
}
.single-user-form input{
    padding: 20px;
    border: solid 2px #2e374a;
    background-color:var(--bg);
    color: var(--text);
    margin: 10px 0px;
}
.single-user-form label{
    font-size: 12px;
}
.single-user-form button{
width: 100%;
padding: 20px;
background-color: teal;
color: var(--text);
border: none;
border-radius:5px;
cursor: pointer;
margin-top: 20px;
}
