.add-product-container{
background-color: white;
padding: 20px;
border-radius: 10px;
margin-top: 10px;
border-style: solid;
border-color: pink;
margin-right: 15vw;
}

.addTitle{
  min-width: 100%;
}
.add-product-form{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 20px;
}
.add-product-form input{
padding: 30px;
border-color: var(--bg);
color: var(--text);
border-radius: 5px;
margin-bottom: 30px;
width: 45%;
}
.add-product-form button{
  width: 100%;
  padding: 30px; 
  border-color: teal;
  color: var(--text);
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
/* .colorInput{
  border-radius: 800px;
  background-color: aquamarine;
  min-height: 60px;
  max-height: 60px;

} */
.colorSelect{
  border-radius: 50%;
  background-color: rgb(34, 32, 32);
  min-height: 65px;
  max-height: 65px;
  min-width: 65px;
  max-width: 65px;
  align-items: center;
  justify-content: space-around;

  
}
.colorSelect input{
  border-radius: 50%;
  min-height: 60px;
  max-height: 60px;
  min-width: 60px;
  max-width: 60px;
  background-color: none;
  align-items: center;
  justify-content: center;
}
.colors{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  min-width: 60vw;
  max-width: 60vw;
  
}


