.login-page{
width:100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.login-page-form{
background-color: var(--bgSoft);
/* background-color: #fff; */
padding: 50px;
border-radius: 10px;
width: 500px;
height: 500px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 30px;
}
.login-page-form input{
    width: 100%;
    padding: 30px;
    border: solid 2px #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
}
.login-page-form button{
    width: 100%;
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
