.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    color:var(--text);
    border-radius: 10px;
    /* font-family: cursive; */
    min-height: 50vh;
    min-width: 99%;
    max-width: 99%;
    padding-top: 20px;
    margin-top: 20px;
    background-color:var(--bgSoft);
    /* border-style:double; */
    /* border-color: rgb(250, 105, 185); */
}
.footer-logo{
    font-weight: bold;
}

.footer-text{
    font-size: 12px;
}
.brandsImgs{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: space-around;
}